.el-submenu .el-menu-item {
    height: 50px;
    line-height: 50px;
    padding: 0 45px;
    min-width: auto;
}
.el-menu {
    border-right: none;
}
.el-submenu__title:hover {
    background-color: rgb(38, 52, 69) !important;
}
.el-menu-item.is-active {
    background-color: rgb(48, 65, 86) !important;
 }
 .el-menu-item:hover {
    background-color: rgb(38, 52, 69) !important;
 }